.about {
  background-color: $tertiary;
  padding: 200px 0 150px 0;

  .wrapper {
    margin-top: 50px;
    text-align: center;

    p {
      text-align: left;
      margin-bottom: 40px;
    }
  }
}
