img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

.button {
  background-color: $secondary;
  font-family: $headingFont;
  padding: 10px 15px;
  text-transform: uppercase;
}
