.info {
  padding: 130px 0 100px 0;
  background-color: $tertiary;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .infoContainer {
    width: 50%;
    display: flex;
    margin-top: 50px;
  }

  .iconContainer {
    margin-right: 20px;
  }

  i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    background-color: $secondary;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
}
