//Breakpoints
$breakpointLarge: 1200px;
$breakpointMedium: 1000px;
$breakpointSmall: 768px;
$breakpointExtraSmall: 520px;

@media (max-width: $breakpointLarge) {
  //Home Header
  .homeHeader {
    .imgContainer {
      bottom: -150px;
      min-width: 600px;
      width: 50%;
    }
  }
}

@media (max-width: $breakpointMedium) {
  //Home Header
  .homeHeader {
    height: 70vh;
    h1 {
      font-size: 5rem;
    }

    .imgContainer {
      min-width: 480px;
    }
  }
}

@media (max-width: $breakpointSmall) {
  //Home Header
  .homeHeader {
    .wrapper {
      justify-content: flex-start;
    }

    h1 {
      font-size: 3rem;
      text-align: right;
      margin-top: 50px;
    }

    .imgContainer {
      min-width: 400px;
    }
  }

  //Nav
  .nav {
    display: none;
  }

  label {
    display: block;
  }
}

@media (max-width: $breakpointExtraSmall) {
  .homeHeader {
    height: 60vh;
    h1 {
      font-size: 2.2rem;
    }
    .imgContainer {
      min-width: 75%;
      bottom: -100px;
      border-top: 40px solid $primary;
      border-bottom: 40px solid $primary;
      border-left: 30px solid $primary;
    }
  }

  .mobileNav {
    max-width: 80%;
  }
}
