//Breakpoints
$breakpointLarge: 1200px;
$breakpointMedium: 1000px;
$breakpointSmall: 768px;
$breakpointExtraSmall: 520px;

@media (max-width: 1300px) {
  // Home > Blog
  .blog {
    .row {
      flex-direction: column;
    }

    .imgContainer {
      width: 70%;
    }

    .textContainer {
      margin-top: 80px;
      width: 90%;
    }

    .rowOne {
      .textContainer {
        align-items: flex-end;
        text-align: right;
      }
    }

    .rowTwo {
      flex-direction: column-reverse;

      .imgContainer {
        align-self: flex-end;
      }

      .textContainer {
        text-align: left;
        margin-top: 200px;
      }

      h3 {
        text-align: left;
      }

      .btnContainer {
        text-align: left;
      }
    }

    .inner {
      max-width: 100%;
    }
  }
}

@media (max-width: $breakpointLarge) {
  //Home Header
  .homeHeader {
    .imgContainer {
      bottom: -150px;
      min-width: 600px;
      width: 50%;
    }
  }

  //Home > About Section
  .about {
    .wrapper {
      margin-top: 0;
    }
  }
}

@media (max-width: $breakpointMedium) {
  //Home Header
  .homeHeader {
    height: 70vh;
    h1 {
      font-size: 5rem;
    }

    .imgContainer {
      min-width: 480px;
    }
  }

  //Home > Blog
  .blog {
    .imgContainer {
      width: 90%;
    }
  }
}

@media (max-width: $breakpointSmall) {
  //Base Styles
  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.4;
  }
  //Home Header
  .homeHeader {
    .wrapper {
      justify-content: flex-start;
    }

    h1 {
      font-size: 3rem;
      text-align: right;
      margin-top: 50px;
    }

    .imgContainer {
      min-width: 400px;
    }
  }

  //Nav
  .nav {
    display: none;
  }

  label {
    display: block;
  }

  //Home > About
  .about {
    p {
      text-align: center;
    }
  }
}

@media (max-width: $breakpointExtraSmall) {
  .homeHeader {
    height: 60vh;
    h1 {
      font-size: 2.2rem;
    }
    .imgContainer {
      min-width: 75%;
      bottom: -100px;
      border-top: 40px solid $primary;
      border-bottom: 40px solid $primary;
      border-left: 30px solid $primary;
    }
  }

  .mobileNav {
    max-width: 80%;
  }

  //Home > About
  .about {
    padding-top: 150px;
  }

  //Home > Blog
  .blog {
    .row {
      .textContainer {
        text-align: center;
      }

      h3 {
        text-align: center;
      }

      .btnContainer {
        text-align: center;
      }
    }
  }
}
