nav {
  display: flex;
  justify-content: flex-end;

  ul {
    display: flex;
    font-family: $headingFont;
    text-transform: uppercase;

    li:not(:last-child) {
      margin-right: 50px;
    }

    a {
      padding: 5px;
      transition: 0.3s border;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0px;
        height: 4px;
        margin: 5px 0 0;
        transition: width 0.4s ease-in-out;
        background-color: $secondary;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
}
