.nav {
  display: flex;
  justify-content: flex-end;
  z-index: 20;

  ul {
    display: flex;
    font-family: $headingFont;
    text-transform: uppercase;
  }

  li:not(:last-child) {
    margin-right: 50px;
  }

  a {
    padding: 5px;
    transition: 0.3s border;
    position: relative;

    //Animation inspired by https://codepen.io/mxttsco/pen/KgodYm
    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0px;
      height: 4px;
      margin: 5px 0 0;
      transition: width 0.4s ease-in-out;
      background-color: $secondary;
    }

    &:hover::after {
      width: 100%;
    }

    &:active::after {
      width: 100%;
    }
  }
}

.mobileNav {
  background-color: $black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  // max-width: 450px;
  color: $white;
  font-family: $headingFont;
  font-size: 1.5rem;
  padding: 35px;
  transition: 0.3s;
  z-index: 20;

  li {
    text-align: center;
    margin-bottom: 20px;
  }

  a {
    transition: 0.25s;
    &:hover {
      color: #7e7c7c;
    }
  }
  .social {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 30px;
  }

  i {
    color: $white;
  }
}

label {
  cursor: pointer;
  text-align: right;
  display: none;
  z-index: 30;
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  &:checked ~ .mobileNav {
    top: 0;
  }

  &:checked ~ label {
    position: fixed;
    top: 30px;
    right: 30px;
    transition: 0.3s;

    i.fa-bars {
      display: none;
    }

    i.fa-x {
      opacity: 1;
    }
  }
}

i {
  font-size: 2.5rem;
  &.fa-bars {
    color: $black;
  }
  &.fa-x {
    opacity: 0;
    color: $white;
  }
}
