//Colours
$primary: #fdfa69;
$secondary: #4ceea7;
$tertiary: #effdf3;
$black: #2c2c2c;
$white: #fafafa;

// Font Families
$headingFont: "Playfair Display", serif;
$bodyFont: "Roboto", sans-serif;

// Font Sizes
$baseFontSize: 1rem;
