.contactMain {
  background: $tertiary;
  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 150px 0;
  }
}

.contactForm {
  padding: 50px;
  width: 72%;
  background-color: #fff;
  margin-top: -425px;
  box-shadow: -45px 45px 0px -5px $primary;
}
